*sublime*
node_modules/
bower_components/
.DS_store
public/
*.log
Thumbs.db
.idea/

files/
uploads/

.vscode/
.settings/

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

*.zip

backend/tempImg/

*.csr
*.key
*.pem