body {
	position: absolute;
}

body, #root {
	width: 100%;
	height: 100%;
	padding: 1%;
}

.wrapper {
	text-align: center;
}

.list-container {
	height: 200px;
	background-color: #eceaea;
	border: 1px solid gray;
	border-radius: 7px;
	width: 15%;
	display: inline-block;
}

.btns-wrapper {
	display: inline-block;
	height: 200px;
	padding: 50px 1%;
	vertical-align: top;
}

.btns-wrapper .btn {
	display: block;
}

.btns-wrapper .btn:last-child {
	margin-top: 15%;
}